:root{

    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: rgb(144, 30, 30);
    --second-color:rgb(171, 17, 14);
}

html{
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--main-font);
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

*,*:before,*:after{
    box-sizing: inherit;/*con esto todos los demas heredan esta proiedad*/
}

body{
    margin: 0;
    overflow-x: hidden;/*esto evita que se cree un scroll horizontal*/
    width: 100%;
    height: 100%;
}

/*header{
    background-color: var(--second-color);
    position: sticky;
    top: 0;
    padding: 0.5%;
    display: flex;
    flex-direction: row-reverse;
    height: 7%;
    align-items: center;
}*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.seccion{
    height: 100vh;/*esta unidad es para que coja toda la pantalla*/
    padding: 2rem;
    padding-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boton-panel{
    background-color: brown;
    border-radius: 50%;
    width: 4.1rem;
    height: 4rem;
    padding: 0;
    position: fixed;
    z-index: 999;
    right: 1vh;
}