
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img{
position: absolute;
  width: 150px;
}

.degradado{
  position: relative;
  width: 158px;
  height: 158px;
  background: linear-gradient(90deg, rgba(0,91,199,1) 0%, rgba(241,7,7,1) 100%);
  border-radius: 50%;
  animation-name: spinner;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode:backwards;
}

@keyframes spinner{
  0%{
      transform: rotate(0deg);
      
  }
  
  100%{
    transform: rotate(360deg);
      
  }
}

button{
  width: 200px;
  height: 50px;
  color: rgb(238, 219, 219);
  font-family: fantasy;
  letter-spacing: 5px;
  position: relative;
  margin-bottom: 50px;
  background: linear-gradient(90deg, rgba(173,0,199,1) 0%, rgba(7,241,191,1) 100%);
  background-size: 150%;
  padding: 10px;
  font-size: 20px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1rem 1rem 1.25rem 0.25rem rgba(127, 10, 10, 0.3);
  transition: background-position 0.7s ease, color 0.3s ease;
}

button:hover{
  background-position: 70%;
  color: black;
}

button::after, button::before{
  content: "";
  bottom: 0;
  position: absolute;
  transition: all 0.7s ease;
}

button::before{
  border-left: 4px solid rgb(15, 76, 173);
  left: 0;
  height: 25%;
}

button::before{
  border-bottom: 4px solid rgb(15, 76, 173);
  left: 0;
  width: 12.5%;
}

button::after{
  border-right: 4px solid rgb(15, 76, 173);
  right: 0;
  height: 25%;
}

button::after{
  border-top: 4px solid rgb(15, 76, 173);
  top: 0;
  width: 12.5%;
}

button:hover::after{
  border-top: 4px solid rgb(15, 76, 173);
  width: 50%;
}

button:hover::after{
  border-right: 4px solid rgb(15, 76, 173);
  height: 50%;
}

button:hover::before{
  border-bottom: 4px solid rgb(15, 76, 173);
  width: 50%;
}

button:hover::before{
  border-left: 4px solid rgb(15, 76, 173);
  height: 50%;
}

aspect-radio{
  aspect-ratio: 1/1;
}
