body{
    display: flex;
    justify-content: center;
    margin-top: 10%;
   
    
    
}
main{
    border: 3px solid rgb(255, 255, 255);
    height: 400px; 
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 118, 242, 0.5);
    
}

.correo, .contrase{
    height: 8%;
    width: 80%;
    margin-top: 10px;
    border-color: red;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 5px;
}

::placeholder{
    color: white;
}
.correo{
    margin-top: 10px;
}
p {
    margin-top: 10px;
    color: white;
}
a{
    color: cyan;
}

img{
    height: 150px;
    width: 160px;
    
}
.logo{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    
}
figure:hover >.logo{
    opacity: 1;
    visibility: visible;
}
.boton{

    height: 8%;
    width: 60%; 
    border-radius: 10px;
    font-size: 17px;
    color: black;
    background-color: rgb(245, 202, 83);
    
    
}
.boton:hover{
    background-color: rgb(242, 255, 0);
}